## Visual
.vs/
*.user
bin/*.pdb
*.suo
*.sdf
*.obj
enc_temp_folder/*

*.bak

bin/
intermediate/
*.tlog
*.idb
*.log
*.pch
*.enc
Config.json
*.vcxproj
*.vcxproj.filters
*.sln
premake 2017.bat
imgui.ini
log.txt
*.pdb
*.ilk
*.exe.recipe
*.FileListAbsolute.txt
*.backup
Externals/imguizmo/example/Debug/*
Externals/imguizmo/example/Debug/ImGuizmoSample.exe
TD/assets/textures/inspiration-private/
OptickCore.dll
*.orig
