## Visual
.vs/
*.user
bin/*.pdb
*.suo
*.sdf
*.obj
*/enc_temp_folder/*

*.bak

bin/
intermediate/
*.tlog
*.idb
*.log
*.pch
*.enc
Config.json
*.vcxproj
*.vcxproj.filters
*.sln
premake 2017.bat
imgui.ini
